node_modules/
.pnpm-store/
.yarn/

.env
.env.production
.env.local
.env.*.local

logs/
*.log
*.out
*.err
*.pid
pnpm-debug.log*

.DS_Store
Thumbs.db
.idea/
.vscode/
coverage/
dist/
*.tmp
*.temp
*.orig
*.tsbuildinfo
